# Python
__pycache__/
*.py[cod]
*.pkl
*.h5
*.log

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# MacOS & system files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Vercel
.vercel/

# Colab files (if you sync with it)


# Pip wheel
*.whl
.vercel
